<%= render 'layouts/carousel' %>

<div class="jumbotron center">
	<h1>Purrr'fect Match</h1>

		     <% if user_signed_in? %>
          <h3>Your Now a Cool Cat!</h3>
          <%= link_to "View Profiles", profiles_path, class: "btn btn-primary btn-lg" %>
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %> 

		

</div>
