<footer class="footer">
	<div class="container">
		<div class="footer-logo">
					<%= link_to image_tag("catlogo1.png", :alt => "Purrrfect Match"), root_path %>
		</div>
		<div>
			<a href="http://builditinteractive.com/" target="_blank"><p>&copy; 2014 Buildit Interactive. All rights reserved.</p></a>
		</div>
	</div>
</footer>